.maincreate {
  /* padding: 0 2rem; */
  padding: 2rem;
}

body.journal-area main .page-section {
  background-color: #fff;
  height: auto;
  width: 100%;
  margin-bottom: 2rem;

  align-self: center;

  display: flex;
  flex-direction: column;
}
body.journal-area main .rating-star {
  height: 30px;
  width: 30px;
}

body.journal-area main form .form-control {
  width: inherit;
  background: var(--form-inputs-bg-color);
  border: 1px solid var(--color-light-blue);
  border-radius: 6px;

  outline: none;
  color: inherit;
  padding: 1.25rem;
  font-size: 1rem;
}
