:root {
  /* TODO: recheck: My color picker produced different vals here - wtf? */
  --color-dark-blue: #132e50;
  --color-medium-blue: #768aa3;
  --color-light-blue: #e1e5e9;
  --color-light-white: #f8f8f8;

  --color-dark-orange: #ee5a34;
  --color-medium-orange: #f39d87;
  --color-light-orange: #f6beb1;
  --color-lighter-orange: #fadfd8;
}

/* ensure this in main.css !*/
/* seems to produce the desired result at least on mobile */
body.journal-area header {
  flex-direction: column;
  background-size: cover;
  background-position: bottom;
  background-repeat: repeat-x;
}

body.journal-area main {
  padding: 2rem;
  background-color: #fff;
}

/* TRUY AREA SPECIFIC RULESETS */

body.journal-area main .page-section {
  background-color: #fff;
  height: auto;
  width: 100%;
  margin-bottom: 2rem;

  align-self: center;

  display: flex;
  flex-direction: column;
}
body.journal-area main .rating-star {
  height: 30px;
  width: 30px;
}

body.journal-area main form .form-control {
  width: inherit;
  background: var(--form-inputs-bg-color);
  border: 1px solid var(--color-light-blue);
  border-radius: 6px;

  outline: none;
  color: inherit;
  padding: 1.25rem;
  font-size: 1rem;
}
