footer nav ul {
  list-style-type: none;
}

nav {
  display: flex;
  flex: auto;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  padding: 0.5rem;
}

nav ul li a {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
}

svg.nav__icon path {
  fill: var(--footer-nav-icon-color);
}

svg.nav__icon--active path {
  fill: var(--footer-nav-icon-active-color);
}
