:root {
  /* HEADER BASE STYLES */
  --header-font-color: #fff;
  --header-font-size: #fff;
  --header-bg-color: red;

  /* MAIN BASE STYLES */
  --main-font-color: #fff;
  --main-font-size: #fff;
  --main-bg-color: #fff;

  /* FOOTER BASE STYLES */
  --footer-icon-color-active: #122e50;
  --footer-font-color: #768aa4;
  --footer-icon-color: #e1e5e9;
  --footer-font-size: #fff;
  --footer-bg-color: #fff;

  /* FOOTER NAV BASE STYLES */
  --footer-nav-item-icon-font-size: 2rem;
  --footer-nav-item-text-font-size: 1.5rem;
  --footer-nav-item-hover-bg-color: #ddd;
  --footer-nav-item-hover-border-color: #bbb;
  --footer-nav-item-hover-font-color: hsla(200, 0%, 0%, 0.7);
  --nav-overlay-bg-color: rgba(0, 0, 0, 0.3);
}
